* {
  box-sizing: border-box;
  margin: 0.5em 0;
}
@media (min-width: 35em) {
  .col {
    display: table-cell;
  }
  .\31 {
    width: 5%;
  }
  .\33 {
    width: 22%;
  }
  .\34 {
    width: 30%;
  }
  .\35 {
    width: 40%;
  }
  .\32 {
    width: 15%;
  }
  .row {
    display: table;
    border-spacing: 1em 0;
  }
}
.row,
.w-100 {
  width: 100%;
}
.card:focus,
hr {
  outline: 0;
  border: solid #0572c5;
}
.card,
pre {
  padding: 1em;
  border: solid #eee;
}
.btn:hover,
a:hover {
  opacity: 0.6;
}
.c {
  max-width: 60em;
  padding: 1em;
  margin: auto;
  font: 1em/1.6 'Work Sans';
}
h6 {
  font: 300 1em 'Work Sans';
}
h5 {
  font: 300 1.2em 'Work Sans';
}
h3 {
  font: 300 2em 'Work Sans';
}
h4 {
  font: 300 1.5em 'Work Sans';
}
h2 {
  font: 300 2.2em 'Work Sans';
}
h1 {
  font: 300 2.5em 'Work Sans';
}
a {
  color: #395892;
  text-decoration: none;
}
a.active {
  font-weight: bold;
}
.btn.primary {
  color: #fff;
  background: #0572c5;
  border: solid #0572c5;
}
pre {
  overflow: auto;
}
td,
th {
  padding: 1em;
  text-align: left;
  border-bottom: solid #eee;
}
.btn {
  cursor: pointer;
  padding: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #fff;
  border: solid;
  font: 0.7em 'Work Sans';
}

.btn:hover {
  background: #ccc;
}
